body {
    height: 1000px;
    background-color: red;
    background-image: radial-gradient(rgb(0, 195, 255), blue);
}

/* background-image: linear-gradient(red, yellow); */
/* .content {
  max-width: 500px;
  margin: auto;
  padding: 10px; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
.container {
    text-align: center;
    font-size: 50px;
}

.content {
    font-family: fantasy;
    background: -webkit-linear-gradient(#ffffff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}